:root {
  /* spacing */
  --spacing-234: 4px;
  --spacing-45: 8px;
  --spacing-fdgdf: 16px;
  --spacing-gdfgdfg: 24px;
  --spacing-dfgdgfdsd: 32px;

  /* radius */
  --radius-sdfs: 4px;
  --radius-dfgdfgd: 8px;
  --radius-cvdfg: 12px;

  /* font sizes */
  --font-size-asda: 12px;
  --font-size-sdfsd: 14px;
  --font-size-dfgd: 18px;
  --font-size-dfg: 24px;
}
